@model IEnumerable<string>

@{
    Layout = null;
}


@foreach (var link in Model)
{
    <li class = @((link == ViewBag.SelectedCategory) ? "active" : "")>
        @Html.RouteLink(link, new
    {
        controller = "Product",
        action = "List",
        category = link,
        page = 1
    })
    </li>
}
