@using LeaveSystem.Domain.Entities
@model string

@{
    ViewBag.Title = "GetPeople";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("GetPeopleData"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1500,
        Confirm = "Do you wish to request new data?"
        //HttpMethod (must be either Get or Post)
        //InsertMode (InsertBefore, InsertAfter, Replace)
    };
    
}

<script type="text/javascript">
    function processData(data) {
        var target = $("#tableBody");
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var person = data[i];
            target.append("<tr><td>" + person.FirstName + "</td><td>" +  person.LastName  +  "</td><td>"  +  person.Role  +  "</td></tr>");
        }
    }

    function OnBegin() {

    }

    function OnSuccess(data) {

    }

    function OnFailure(request, error) {

    }

    function OnComplete(request, status) {

    }
</script>

<h2>GetPeople</h2>

<div id="loading" class="load" style="display:none">
    <p>Loading Data ...</p>
</div>
<table>
    <thead><tr><th>First</th><th>Last</th><th>Role</th></tr></thead>
    <tbody id="tableBody">
        @Html.Action("GetPeopleData", new { selectedRole = Model} )
    </tbody>
</table>


    @using (Ajax.BeginForm(null, null, ajaxOpts, new { id = "helloworld"}))
    {
        <div>
            @Html.DropDownList("selectedRole", new SelectList(
            new[] { "All" }.Concat(Enum.GetNames(typeof(Role)))))
            <button type="submit">Submit</button>
        </div>
    }


    <div>
        @foreach (string role in Enum.GetNames(typeof(Role)))
        {
            <div class="ajaxLink">
                @Ajax.ActionLink(role, "GetPeopleData",
                new { selectedRole = role },
                new AjaxOptions
                {
                    Url = Url.Action("GetPeopleDataJson", new { selectedRole = role }),
                    OnSuccess = "processData"
                })
            </div>
        }
    </div>

    <div>
        <a data-ajax="true" data-ajax-loading="#loading" data-ajax-loading-duration="1500" data-ajax-mode="replace" data-ajax-update="#tableBody" href="/Home/GetPeopleData?selectedRole=Guest">This is a test link for "Guest"</a>
    </div>

    <input type="text" id="doit">

    <script>
        $("#doit").focusout(function () {
            //$("#helloworld").submit();
        })
    </script>
