@using LeaveSystem.Domain.Entities
@model string

@{
    ViewBag.Title = "GetUser";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("ToGetUserData"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1500,
        Confirm = "Do you wish to request new data?"
        //HttpMethod (must be either Get or Post)
        //InsertMode (InsertBefore, InsertAfter, Replace)
    };

    
}

@section Scripts{

<script>
    $(document).ready(function () {
        
    });

    function processData(data) {
        var target = $("#tableBody");
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var person = data[i];
            target.append("<tr><td>" + person.FirstName + "</td><td>" + person.LastName + "</td><td>" + person.Role + "</td></tr>");
        }
    }

    function processUserData(data) {
        /*
        var target = $("#tableUserBody");
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var userdata = data[i];
            target.append("<tr><td>" + userdata.Username + "</td><td>" + userdata.MobileNumber + "</td><td>" + userdata.Gender + "</td></tr>");
        }
        */
        $("#outcome").empty();
        $("#wrapper-username").attr("class","form-group");

        if (data == true) {
            $("#outcome").html("The username has been registered!");
            $("#wrapper-username").addClass("has-error");
            //event.preventDefault();
        } else {
            $("#wrapper-username").addClass("has-success");
        }
    }

    
    function OnBegin() {

    }

    function OnSuccess(data) {

    }

    function OnFailure(request, error) {

    }

    function OnComplete(request, status) {

    }
    
</script>
}

@section Body{

<h2>GetPeople</h2>

<div id="loading" class="load" style="display:none">
    <p>Loading Data ...</p>
</div>
<table>
    <thead>
        <tr>
            <th>UserName</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
    </thead>

    <tbody id="tableBody">
        @Html.Action("ToGetUserData", new { selectedGender = Model })
    </tbody>
</table>


@{
    AjaxOptions ajaxOptsUser = new AjaxOptions
    {
        UpdateTargetId = "outcome",
        //Url = Url.Action("GetUserDataJson"),
        Url = Url.Action("ValidateUsername"),
        OnSuccess = "processUserData"
    };
}

@using (Ajax.BeginForm(null, null, ajaxOpts, new { id = "helloworld" }))
{
    <div>
        @Html.DropDownList("selectedGender", new SelectList(
            new[] { "All" }.Concat(Enum.GetNames(typeof(Gender)))))
        <button type="submit">Submit</button>
    </div>
}
    <div>
        <p>@ViewBag.IsAuthenticated</p>
        <p>@ViewBag.Username</p>
    </div>

<div class="form-group" id="wrapper-username">
    <input type="text" placeholder="Username" class="form-control" id="user-name">
    

    @using (Ajax.BeginForm(null, null, ajaxOptsUser, new { id = "validateUser", style = "display:none" }))
    {
        <input type="text" id="selectedUsername" name="selectedUsername" value="abc">
    }
</div>
<span id="outcome"></span>

<script>
    
    $("#user-name").focusout(function () {
        //var valOfUsername = $("#user-name").val();
        $("#selectedUsername").val($(this).val());
        $("#validateUser").submit();
    });
</script>


<table>
    <thead>
        <tr>
            <th>UserName</th>
            <th>MobileNumber</th>
            <th>Gender</th>
        </tr>
    </thead>

    <tbody id="tableUserBody">
        
    </tbody>
</table>
}<!-- End of Body -->
